# **<span style="color:#00C853;">Schneider Electric Hackathon </span>**

> This notebook is part of a Hackathon held by nuwe.io on 05/21/2022.
> 
> To get the API key, create an account in the [website](https://nuwe.io/challenge/data-science-se) .

#### Background
----------------------------------------------------------------------------------------------------------

The EU contributes 18% of total global warming gas emissions; However, it is increasingly determined to take the lead in the fight against climate change. That is why it has set itself the goal of reaching zero carbon emissions by 2050.

To this end, it has put in place a wealth of resources to help achieve this goal over the next few years, and it will need your help to do so.

### Dataset
This dataset contains data on industrial facilities and emissions across Europe.
The dataset will consist of the following variables of interest:

__countryName__: Country in which the facility is located

__EPRETRSectorCode__: Code of the sector in which the company specialises

__eptrSectorName__: Name of the sector in which it specialises

__EPRTRAnnexIMainActivityCode__: Code of the specialisation within the sector in which they operate

__EPRTRAnnexIMainActivityLabel__: Specialisation within the sector in which they operate

__FacilityInspireID__: Building identifier

__facilityName__: Name of the building in which the activity takes place

__City__: City in which the facility is located

__CITY ID__: ID to confirm location

__targetRelease__: Type of polluter to study

__pollutant__: Type of pollutant emitted (Target variable). In order to follow the same standard, you must encode this variables as follows:

| pollutant |	number |
| ------ | ---------| 
|Nitrogen oxides (NOX) |	0 |
|Carbon dioxide (CO2)	|1    |
|Methane (CH4)	|  2      |

__DAY__: Day on which the report is made

__MONTH__: Reporting month

__reportingYear__: Reporting year

__CONTINENT__: Continent on which the company is located

__max_wind_speed__: Maximum wind speed

__avg_wind_speed__: Average wind speed

__min_wind_speed__: Minimum wind speed

__max_temp__: Maximum temperature

__avg_temp__: Average temperature

__min_temp__: Minimum temperature

__DAYS WITH FOG__: Total days of the month recorded in the area

__REPORTER NAME__: Reporter's name

The dataset is split into Training Dataset and Testing Dataset.

<img src=" https://challenges-asset-files.s3.us-east-2.amazonaws.com/data_sets/Data-Science/4+-+events/SchneiderElectricES22/final/images/fragmentation_green.png ">

To train the model, the training dataset has to be used. It is fragmented in different datasets and in different formats.

**Roadmap**

Before we dive headlong into programming, we should outline a brief guide to keep us on track. The following steps form the basis of any machine learning workflow once we have a problem and a model in mind:

* 1) Raising the question.
* 2) Acquiring the data. 
* 3) Adapting information, identifying and correcting anomalies (EDA).
* 4) Preparar los datos para el modelo de aprendizaje autom√°tico.
* 5) Training the model with training data.
* 6) Making predictions with test data.
* 7) Compare predictions with test data.
* 8) Adjust the model.
* 9) Results presentation.

---------------------------------------------------------------------

## ‚úÖ1) Raising the question  ‚ùì

The exercise consists of obtaining a predictive model capable of classifying whether the variable __pollutant__ is going to be Nitrogen oxides (NOX), Carbon dioxide (CO2) or Methane (CH4), according to the oder variables for which it would be **objective** for the model to be as accurate as possible.

**NOTE**: For in this case, the client already informs us how the coding of the output variables should be.

---------------------------------------------------------------------

## ‚úÖ 2) Acquiring the data  üîç

### **<span style="color:#43A047;">2.1 Importing required libraries. </span>**

In [1]:
# Data acquirement and processing
# ======================================================================================
import pandas as pd
import json
import numpy as np 
import nltk
import datetime as dt

# Graphics
# ======================================================================================
import matplotlib.pyplot as plt
import seaborn as sns

# Preprocessing 
# ======================================================================================
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.feature_selection import SelectPercentile
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split

# NLP (Natural Language Programming) 
# ======================================================================================
import string
import re
import nltk 
import fitz
from nltk.util import pr
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob

# Modeling for a categorical target
# ======================================================================================
from sklearn.linear_model import LogisticRegression   
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC 

# Testing and validating
# ======================================================================================
from sklearn.metrics import precision_score, recall_score, roc_auc_score, confusion_matrix
from sklearn.model_selection import ShuffleSplit, cross_val_score, GridSearchCV
from sklearn.inspection import permutation_importance
import multiprocessing

# Warnings Configuration
# ======================================================================================
import warnings
warnings.filterwarnings("ignore")

### **<span style="color:#43A047;">2.2 Reading data from CSV </span>**

#### **<span style="color:#4CAF50;">2.2.1 Reading first data CSV </span>**

In [2]:
data1_csv_df = pd.read_csv("../1-Classification/datasets/train1.csv", sep=',') #1-Loading the first csv

In [3]:
data1_csv_df.head() #2-We look at the heading and check that it was read correctly.

,countryName,eprtrSectorName,EPRTRAnnexIMainActivityLabel,FacilityInspireID,facilityName,City,targetRelease,pollutant,reportingYear,MONTH,...,CONTINENT,max_wind_speed,avg_wind_speed,min_wind_speed,max_temp,avg_temp,min_temp,DAY WITH FOGS,REPORTER NAME,CITY ID
0,Germany,Mineral industry,Installations for the production of cement cli...,https://registry.gdi-de.org/id/de.ni.mu/062217...,Holcim (Deutschland) GmbH Werk H√∂ver,Sehnde,AIR,Carbon dioxide (CO2),2015,10,...,EUROPE,15.118767,14.312541,21.419106,2.864895,4.924169,9.688206,2,Mr. Jacob Ortega,7cdb5e74adcb2ffaa21c1b61395a984f
1,Italy,Mineral industry,Installations for the production of cement cli...,IT.CAED/240602021.FACILITY,Stabilimento di Tavernola Bergamasca,TAVERNOLA BERGAMASCA,AIR,Nitrogen oxides (NOX),2018,9,...,EUROPE,19.661550,19.368166,21.756389,5.462839,7.864403,12.023521,1,Ashlee Serrano,cd1dbabbdba230b828c657a9b19a8963
2,Spain,Waste and wastewater management,Landfills (excluding landfills of inert waste ...,ES.CAED/001966000.FACILITY,COMPLEJO MEDIOAMBIENTAL DE ZURITA,PUERTO DEL ROSARIO,AIR,Methane (CH4),2019,2,...,EUROPE,12.729453,14.701985,17.103930,1.511201,4.233438,8.632193,2,Vincent Kemp,5011e3fa1436d15b34f1287f312fbada
3,Czechia,Energy sector,Thermal power stations and other combustion in...,CZ.MZP.U422/CZ34736841.FACILITY,Elektr√°rny Prun√©≈ôov,Kada≈à,AIR,Nitrogen oxides (NOX),2012,8,...,EUROPE,11.856417,16.122584,17.537184,10.970301,10.298348,15.179215,0,Carol Gray,37a6d7a71c4f7c2469e4f01b70dd90c2
4,Finland,Waste and wastewater management,Urban waste-water treatment plants,http://paikkatiedot.fi/so/1002031/pf/Productio...,"TAMPEREEN VESI LIIKELAITOS, VIINIKANLAHDEN J√ÑT...",Tampere,AIR,Methane (CH4),2018,12,...,EUROPE,17.111930,20.201604,21.536012,11.772039,11.344078,16.039004,2,Blake Ford,471fe554e1c62d1b01cc8e4e5076c61a

In [4]:
data1_csv_df.shape #3-Quickly we check the format

(18563, 21)

#### **<span style="color:#4CAF50;">2.2.2 Reading second data CSV </span>**

In [5]:
data2_csv_df = pd.read_csv("../1-Classification/datasets/train3.csv") #1-Loading the second csv

In [6]:
data2_csv_df.head() #2-We look at the heading and check that it was read correctly.

,Unnamed: 0,Unnamed: 1,CITY ID,CONTINENT,City,DAY,DAY WITH FOGS,EPRTRAnnexIMainActivityCode,EPRTRAnnexIMainActivityLabel,EPRTRSectorCode,...,countryName,eprtrSectorName,facilityName,max_temp,max_wind_speed,min_temp,min_wind_speed,pollutant,reportingYear,targetRelease
0,0,47068,4c325d62c064477ef17b4c6e4437e121,EUROPE,Europoort Rotterdam,2,1,4(a),Chemical installations for the production on a...,4,...,Netherlands,Chemical industry,Indorama Ventures Europe BV,13.256816,11.019329,14.696895,20.899762,Carbon dioxide (CO2),2020,AIR
1,1,32952,f5e609e7095f91cc8ce9ed6d8e774a0d,EUROPE,RION,3,2,3(c),Installations for the production of cement cli...,3,...,Greece,Mineral industry,TITAN CEMENT S.A. - DREPANO PLANT,4.528859,14.512395,9.219003,23.243403,Nitrogen oxides (NOX),2019,AIR
2,2,72375,cfab1ba8c67c7c838db98d666f02a132,EUROPE,--,1,12,1(c),Thermal power stations and other combustion in...,1,...,United Kingdom,Energy sector,Cormorant Alpha,10.669133,20.262171,14.715465,23.956529,Nitrogen oxides (NOX),2009,AIR
3,3,40702,95b4e51f7b662598134e1eb956407c74,EUROPE,DRIZZONA,17,1,7(a),Installations for the intensive rearing of pou...,7,...,Italy,Intensive livestock production and aquaculture,SOCIETA' AGRICOLA SPARAVALLE DI FERRARI GIUSEP...,7.095682,18.283547,13.582024,26.696266,Methane (CH4),2014,AIR
4,4,29884,f4433be3b1bfaeeb0633eb65d04b1325,EUROPE,L√ºnen,6,0,5(a),Installations for the recovery or disposal of ...,5,...,Germany,Waste and wastewater management,Biomassekraftwerk L√ºnen GmbH,9.886774,13.759408,14.006226,24.768933,Carbon dioxide (CO2),2015,AIR

In [7]:
data2_csv_df.shape #3-Quickly we check the format

(9500, 25)

So, the first 50% of the data is already loaded, let's proceed with the rest.

### **<span style="color:#43A047;">2.3 Reading data from API json </span>**

#### **<span style="color:#4CAF50;">2.3.1. Reading first json data </span>**

In [8]:
url = 'http://schneiderapihack-env.eba-3ais9akk.us-east-2.elasticbeanstalk.com/first'
data1_js_df = pd.read_json(url)

In [9]:
data1_js_df.head() #2-We look at the heading and check that it was read correctly.

,,CITY ID,CONTINENT,City,DAY,DAY WITH FOGS,EPRTRAnnexIMainActivityCode,EPRTRAnnexIMainActivityLabel,EPRTRSectorCode,FacilityInspireID,...,countryName,eprtrSectorName,facilityName,max_temp,max_wind_speed,min_temp,min_wind_speed,pollutant,reportingYear,targetRelease
0,47068,4c325d62c064477ef17b4c6e4437e121,EUROPE,Europoort Rotterdam,2,1,4(a),Chemical installations for the production on a...,4,NL.RIVM/000019070.FACILITY,...,Netherlands,Chemical industry,Indorama Ventures Europe BV,13.256816,11.019329,14.696895,20.899762,Carbon dioxide (CO2),2020,AIR
1,32952,f5e609e7095f91cc8ce9ed6d8e774a0d,EUROPE,RION,3,2,3(c),Installations for the production of cement cli...,3,EL.CAED/100075.FACILITY,...,Greece,Mineral industry,TITAN CEMENT S.A. - DREPANO PLANT,4.528859,14.512395,9.219003,23.243403,Nitrogen oxides (NOX),2019,AIR
2,72375,cfab1ba8c67c7c838db98d666f02a132,EUROPE,--,1,12,1(c),Thermal power stations and other combustion in...,1,UK.CAED/BEISOffsh-Cormorant-Alpha.FACILITY,...,United Kingdom,Energy sector,Cormorant Alpha,10.669133,20.262171,14.715465,23.956529,Nitrogen oxides (NOX),2009,AIR
3,40702,95b4e51f7b662598134e1eb956407c74,EUROPE,DRIZZONA,17,1,7(a),Installations for the intensive rearing of pou...,7,IT.CAED/260342003.FACILITY,...,Italy,Intensive livestock production and aquaculture,SOCIETA' AGRICOLA SPARAVALLE DI FERRARI GIUSEP...,7.095682,18.283547,13.582024,26.696266,Methane (CH4),2014,AIR
4,29884,f4433be3b1bfaeeb0633eb65d04b1325,EUROPE,L√ºnen,6,0,5(a),Installations for the recovery or disposal of ...,5,https://registry.gdi-de.org/id/de.nw.inspire.p...,...,Germany,Waste and wastewater management,Biomassekraftwerk L√ºnen GmbH,9.886774,13.759408,14.006226,24.768933,Carbon dioxide (CO2),2015,AIR

In [10]:
data1_js_df.shape #3-Quickly we check the format

(9500, 24)

In [11]:
data1_js_df.to_csv("../1-Classification/datasets/train3.csv") #Saving the data set in our directory

#### **<span style="color:#4CAF50;">2.3.2. Reading second json data </span>**

In [12]:
url = 'http://schneiderapihack-env.eba-3ais9akk.us-east-2.elasticbeanstalk.com/second'
data2_js_df = pd.read_json(url)

In [13]:
data2_js_df.head() #2-We look at the heading and check that it was read correctly.

,,CITY ID,CONTINENT,City,DAY,DAY WITH FOGS,EPRTRAnnexIMainActivityCode,EPRTRAnnexIMainActivityLabel,EPRTRSectorCode,FacilityInspireID,...,countryName,eprtrSectorName,facilityName,max_temp,max_wind_speed,min_temp,min_wind_speed,pollutant,reportingYear,targetRelease
0,66841,e8d4668a35daa00b7802cdaac2b33bab,EUROPE,SIGTUNA,18,0,1(c),Thermal power stations and other combustion in...,1,SE.CAED/10014262.Facility,...,Sweden,Energy sector,BRISTAVERKET,12.910354,19.591152,17.822159,24.496401,Carbon dioxide (CO2),2010,AIR
1,43952,3a9c3ae8ea2e275700947e511afca943,EUROPE,Kaunas,3,1,1(c),Thermal power stations and other combustion in...,1,LT.EEA/3.FACILITY,...,Lithuania,Energy sector,Kauno elektrine,1.566654,9.006533,4.398770,20.074976,Carbon dioxide (CO2),2015,AIR
2,77831,3d7694a841fc5d426287f208f5e04f61,EUROPE,WORKINGTON,20,10,6(b),Industrial plants for the production of paper ...,6,UK.CAED/EW_EA-1427.FACILITY,...,United Kingdom,Paper and wood production and processing,Workington Board Mill,10.241999,14.076643,13.447854,25.239151,Nitrogen oxides (NOX),2015,AIR
3,67548,f8a4753cdbccbd64f0411a207e071aac,EUROPE,SALA,5,2,5(d),Landfills (excluding landfills of inert waste ...,5,SE.CAED/10021261.Facility,...,Sweden,Waste and wastewater management,Is√§tra avfallsanl√§ggning,12.684851,18.924086,17.377168,25.603714,Methane (CH4),2013,AIR
4,67772,ce2ddff460389bd5d9f1152dc5679d20,EUROPE,Lugnvik,26,1,1(c),Thermal power stations and other combustion in...,1,SE.CAED/10023054.Facility,...,Sweden,Energy sector,Lugnviksverket,7.826782,18.596857,11.731918,25.811989,Carbon dioxide (CO2),2014,AIR

In [14]:
data2_js_df.shape #3-Quickly we check the format

(9500, 24)

In [15]:
data2_js_df.to_csv("../1-Classification/datasets/train4.csv") #Saving the data set in our directory

#### **<span style="color:#4CAF50;">2.3.2. Reading thrid json data </span>**

In [16]:
url = 'http://schneiderapihack-env.eba-3ais9akk.us-east-2.elasticbeanstalk.com/third'
data3_js_df = pd.read_json(url)

In [17]:
data3_js_df.head() #2-We look at the heading and check that it was read correctly.

,,CITY ID,CONTINENT,City,DAY,DAY WITH FOGS,EPRTRAnnexIMainActivityCode,EPRTRAnnexIMainActivityLabel,EPRTRSectorCode,FacilityInspireID,...,countryName,eprtrSectorName,facilityName,max_temp,max_wind_speed,min_temp,min_wind_speed,pollutant,reportingYear,targetRelease
0,41175,7951666b94e0f0891e0c66b2381fca55,EUROPE,TORINO,24,1,1(c),Thermal power stations and other combustion in...,1,IT.CAED/101511001.FACILITY,...,Italy,Energy sector,Iren Energia S.p.A.,7.367005,15.892429,12.571580,20.467596,Nitrogen oxides (NOX),2015,AIR
1,49299,33c89df2492e8d3efda719c849b530ea,EUROPE,≈Å√≥d≈∫,4,0,1(c),Thermal power stations and other combustion in...,1,PL.EEA/1321.FACILITY,...,Poland,Energy sector,Dalkia ≈Å√≥d≈∫ S.A. Elektrociep≈Çownia nr 3,12.764269,14.168742,19.081248,25.439515,Carbon dioxide (CO2),2011,AIR
2,34879,4a8b9d98f65af3a29bbf298d8536c142,EUROPE,Tipperary,18,0,7(a)(ii),Installations for the intensive rearing of pig...,7,IE.CAED/P0489.FACILITY,...,Ireland,Intensive livestock production and aquaculture,Glen of Aherlow Pig Producers Co-Op Society Li...,9.278435,17.849098,15.912360,25.603904,Methane (CH4),2011,AIR
3,16905,e38f45f4d669e9f69fa97bfe049ceed6,EUROPE,REIMS,27,0,3(e),"Installations for the manufacture of glass, in...",3,FR.CAED/3453.FACILITY,...,France,Mineral industry,OI MANUFACTURING FRANCE REIMS,12.132210,10.348395,16.897353,18.131688,Nitrogen oxides (NOX),2014,AIR
4,75675,fb960490e42477cbfdcd6bab1793f31e,EUROPE,Hexham,28,2,6(b),Industrial plants for the production of paper ...,6,UK.LAED/E375_434.FACILITY,...,United Kingdom,Paper and wood production and processing,EGGER (UK) LIMITED,3.376109,13.803120,6.435358,22.215066,Nitrogen oxides (NOX),2012,AIR

In [18]:
columns=data3_js_df.columns.values.tolist()

In [19]:
columns

['',
 'CITY ID',
 'CONTINENT',
 'City',
 'DAY',
 'DAY WITH FOGS',
 'EPRTRAnnexIMainActivityCode',
 'EPRTRAnnexIMainActivityLabel',
 'EPRTRSectorCode',
 'FacilityInspireID',
 'MONTH',
 'REPORTER NAME',
 'avg_temp',
 'avg_wind_speed',
 'countryName',
 'eprtrSectorName',
 'facilityName',
 'max_temp',
 'max_wind_speed',
 'min_temp',
 'min_wind_speed',
 'pollutant',
 'reportingYear',
 'targetRelease']

In [20]:
data3_js_df.shape #3-Quickly we check the format

(9501, 24)

In [21]:
data3_js_df.to_csv("../1-Classification/datasets/train5.csv") #Saving the data set in our directory

So, the __99%__ of the data is already loaded.

### **<span style="color:#43A047;">2.4 Reading data from PDF </span>**

#### **<span style="color:#4CAF50;">2.4.1. Reading first PDF data. </span>**

I have used the PyMuPDF library for this purpose. This library provided many applications such as extracting images from PDF, extracting texts from different shapes, making annotations, draw a bounded box around the texts along with the features of libraries like PyPDF2.

In [24]:
folder = r"../1-Classification/datasets/train6/"
def get_files(folder):
    import os
    os.chdir(folder)
    files = os.listdir()
    files = [x for x in files if x.endswith(".pdf")]
    return files

In [25]:
#RUN FILE 
files = get_files(folder)

In [28]:
patch = r"../train6/"
out = open("pdf_to_text.txt", "wb")  # open text output
for file in files:
    doc = fitz.open(patch + file)
    for page in doc:  # iterate the document pages
        text = page.get_text().encode("utf8")  # get plain text (is in UTF-8)
        out.write(text)  # write text of page
        out.write(bytes((12,)))  # write page delimiter (form feed 0x0C)
out.close()

In [360]:
all_annots = (open("pdf_to_text.txt", encoding="UTF-8")).readlines()

Splitting to form column name and its values :

In [361]:
cont=[]
for i in range(0,len(all_annots)):
    cont.append(all_annots[i].split(' :\n',0))

In [362]:
liss=[]
for i in range(0,len(cont)):
    lis=[]
    for j in cont[i]:
        j=j.replace('*','')
        j=j.replace('#','')
        j=j.replace(':','')
        j=j.replace('\n','') 
        j=j.strip()
        #print(j)
        lis.append(j)
    liss.append(lis)

In [363]:
features = ['FACILITY NAME', 'FacilityInspireID', 'COUNTRY', 'CONTINENT', 'CITY', 'EPRTRSectorCode', 'eprtrSectorName','emissions','DAY','MONTH','YEAR','max_wind_speed','min_wind_speed','avg_wind_speed ','max_temp','min_temp','avg_temp','DAYS FOG','CITY_ID', 'pollutant']

In [364]:
data_pdf_df = pd.DataFrame(columns=features)

In [365]:
for i in features:
    cont = 0
    for j in range(0,len(liss)):                    
        if i == liss[j][0]:
            cont = cont + 1
            if len(liss[j+1][0].split(' ')) > 1 and (i != 'FACILITY NAME') and (i != 'eprtrSectorName') \
            and (i != 'COUNTRY') and (i != 'pollutant') and (i != 'CITY'):
                parcial=[]
                for k in range(len(liss[j+1][0].split(' '))):
                        parcial = liss[j+1][0].split(' ')
                        index = features.index(i)
                        data_pdf_df.loc[cont,features[index]] = parcial[0]
                        index = index +1
            else:
                data_pdf_df.loc[cont,i] = liss[j+1][0]

In [366]:
cont = 1
flag = 0
for j in range(0,len(liss)):
        features_split = liss[j][0].split(' ')        
        if  len(features_split)> 1 :
            for l in features_split: 
                if l == 'YEAR':
                    if flag == 1:
                        cont = cont + 1
                    data_pdf_df.loc[cont,features[10]] = liss[j+1][0]     
                    flag = 1 
                elif l == 'max_wind_speed':
                    data_pdf_df.loc[cont,features[11]] = features_split[1] 
                elif l == 'avg_wind_speed':
                    if len(features_split)> 2 :
                        data_pdf_df.loc[cont,features[12]] = features_split[0]   
                        data_pdf_df.loc[cont,features[13]] = features_split[2]  
                    else:
                        data_pdf_df.loc[cont,features[12]] = features_split[0]  
                        data_pdf_df.loc[cont,features[13]] = liss[j+1][0] 
                elif l == 'avg_temp':
                    data_pdf_df.loc[cont,features[15]] = features_split[0]
                    data_pdf_df.loc[cont,features[16]] = liss[j+1][0]

In [367]:
data_pdf_df.head()

,FACILITY NAME,FacilityInspireID,COUNTRY,CONTINENT,CITY,EPRTRSectorCode,eprtrSectorName,emissions,DAY,MONTH,YEAR,max_wind_speed,min_wind_speed,avg_wind_speed,max_temp,min_temp,avg_temp,DAYS FOG,CITY_ID,pollutant
1,Millerhill Recycling & Energy Recovery Centre,UK.SEPA/200002651.Facility,United Kingdom,EUROPE,"Millerhill, Dalkeith",5,Waste and wastewater management,175000,12,6,2019,"1,79E+15","2,2E+16","2,04E+15","1,51E+16","1,82E+15","1,71E+16",10,c662b4b4d859a9c224b5ac0acf221748,Nitrogen oxides (NOX)
2,Fife Ethylene Plant,UK.SEPA/200000061.Facility,United Kingdom,EUROPE,Cowdenbeath,1,Energy sector,"6,8E+08",12,4,2019,"1,52E+16","2,06E+15","1,46E+16","9,61E+15","1,33E+16","8,69E+15",19,3c563ab0d76fc84128574b5da82f769a,Carbon dioxide (CO2)
3,Fife Ethylene Plant,UK.SEPA/200000061.Facility,United Kingdom,EUROPE,Cowdenbeath,1,Energy sector,"6,8E+08",12,4,2019,"1,52E+16","2,06E+15","1,46E+16","9,61E+15","1,33E+16","8,69E+15",19,3c563ab0d76fc84128574b5da82f769a,Carbon dioxide (CO2)
4,Fife Ethylene Plant,UK.SEPA/200000061.Facility,United Kingdom,EUROPE,Cowdenbeath,1,Energy sector,633000,3,1,2019,"1,16E+16","2,18E+16","1,65E+16","8,03E+15","1,04E+16","8,94E+15",10,3c563ab0d76fc84128574b5da82f769a,Nitrogen oxides (NOX)
5,Alloa Glass Factory,UK.SEPA/200000073.Facility,United Kingdom,EUROPE,Alloa,3,Mineral industry,"1,49E+08",9,11,2019,"1,11E+16","2,03E+16","1,6E+16","-1,9E+16","4,07E+16","1,33E+15",4,2cc8f54182c37b8907f534011ea01e6f,Carbon dioxide (CO2)

In [368]:
data_pdf_df.shape

(82, 20)

---------------------------------------------------------------------

## ‚úÖ  3) Adapting information, identifying and correcting anomalies üîß
First, we have to merge all the datasets into one, so that we have a single package to analyze.

### **<span style="color:#43A047;">3.0 Checking column orders and differences in data sizes. </span>**

In [369]:
sizes = [["1st csv", data1_csv_df.shape],
         ["2nd csv", data2_csv_df.shape],
         ["1st json", data1_js_df.shape],
         ["2nd json", data2_js_df.shape],
         ["3th json", data3_js_df.shape],
         ["All pdf", data_pdf_df.shape]]
print("The sizes are: ")
sizes

The sizes are:

[['1st csv', (18563, 21)],
 ['2nd csv', (9500, 25)],
 ['1st json', (9500, 24)],
 ['2nd json', (9500, 24)],
 ['3th json', (9501, 24)],
 ['All pdf', (82, 20)]]

If there is a difference in columns sizes, the differents columns should be displayed and determine what to do if it is vital information. You can either add a mean to the missing data or delete the extra columns.

In [371]:
columns =[["1st csv", data1_csv_df.columns.values],
         ["2nd csv", data2_csv_df.columns.values],
         ["1st json", data1_js_df.columns.values],
         ["2nd json", data2_js_df.columns.values],
         ["3th json", data3_js_df.columns.values],
         ["All pdf", data_pdf_df.columns.values]]
print("The column's order is:")
columns

The column's order is:

[['1st csv',
  array(['countryName', 'eprtrSectorName', 'EPRTRAnnexIMainActivityLabel',
         'FacilityInspireID', 'facilityName', 'City', 'targetRelease',
         'pollutant', 'reportingYear', 'MONTH', 'DAY', 'CONTINENT',
         'max_wind_speed', 'avg_wind_speed', 'min_wind_speed', 'max_temp',
         'avg_temp', 'min_temp', 'DAY WITH FOGS', 'REPORTER NAME',
         'CITY ID'], dtype=object)],
 ['2nd csv',
  array(['Unnamed: 0', 'Unnamed: 1', 'CITY ID', 'CONTINENT', 'City', 'DAY',
         'DAY WITH FOGS', 'EPRTRAnnexIMainActivityCode',
         'EPRTRAnnexIMainActivityLabel', 'EPRTRSectorCode',
         'FacilityInspireID', 'MONTH', 'REPORTER NAME', 'avg_temp',
         'avg_wind_speed', 'countryName', 'eprtrSectorName', 'facilityName',
         'max_temp', 'max_wind_speed', 'min_temp', 'min_wind_speed',
         'pollutant', 'reportingYear', 'targetRelease'], dtype=object)],
 ['1st json',
  array(['', 'CITY ID', 'CONTINENT', 'City', 'DAY', 'DAY WITH FOGS',
         'EPRTRAnnexIMainActivityCode', 'EPRTRAnnexIMainActivityLabel',
         'EPRTRSectorCode', 'FacilityInspireID', 'MONTH', 'REPORTER NAME',
         'avg_temp', 'avg_wind_speed', 'countryName', 'eprtrSectorName',
         'facilityName', 'max_temp', 'max_wind_speed', 'min_temp',
         'min_wind_speed', 'pollutant', 'reportingYear', 'targetRelease'],
        dtype=object)],
 ['2nd json',
  array(['', 'CITY ID', 'CONTINENT', 'City', 'DAY', 'DAY WITH FOGS',
         'EPRTRAnnexIMainActivityCode', 'EPRTRAnnexIMainActivityLabel',
         'EPRTRSectorCode', 'FacilityInspireID', 'MONTH', 'REPORTER NAME',
         'avg_temp', 'avg_wind_speed', 'countryName', 'eprtrSectorName',
         'facilityName', 'max_temp', 'max_wind_speed', 'min_temp',
         'min_wind_speed', 'pollutant', 'reportingYear', 'targetRelease'],
        dtype=object)],
 ['3th json',
  array(['', 'CITY ID', 'CONTINENT', 'City', 'DAY', 'DAY WITH FOGS',
         'EPRTRAnnexIMainActivityCode', 'EPRTRAnnexIMainActivityLabel',
         'EPRTRSectorCode', 'FacilityInspireID', 'MONTH', 'REPORTER NAME',
         'avg_temp', 'avg_wind_speed', 'countryName', 'eprtrSectorName',
         'facilityName', 'max_temp', 'max_wind_speed', 'min_temp',
         'min_wind_speed', 'pollutant', 'reportingYear', 'targetRelease'],
        dtype=object)],
 ['All pdf',
  array(['FACILITY NAME', 'FacilityInspireID', 'COUNTRY', 'CONTINENT',
         'CITY', 'EPRTRSectorCode', 'eprtrSectorName', 'emissions', 'DAY',
         'MONTH', 'YEAR', 'max_wind_speed', 'min_wind_speed',
         'avg_wind_speed ', 'max_temp', 'min_temp', 'avg_temp', 'DAYS FOG',
         'CITY_ID', 'pollutant'], dtype=object)]]

### **<span style="color:#43A047;">3.1 Getting Columns column orders and differences in data sizes. </span>**

In [372]:
df1 = data1_csv_df.copy()
df2 = data2_csv_df.copy()
df3 = data1_js_df.copy()
df4 = data2_js_df.copy()
df5 = data3_js_df.copy()
df6 = data_pdf_df.copy()

In [373]:
def search_diferences(list1, list2, list3, list4, list5, list6):
    cont1=0
    cont2=0
    for i in list1, list2, list3, list4, list5, list6:
        cont1 = cont1 + 1
        for j in list1, list2, list3, list4, list5, list6:
            cont2 =  cont2 + 1          
            temp = [x for x in i if x not in j]
            temp = temp + [y for y in j if y not in i]
            if temp != []:
                print("The diferences between List %s and List %s is \n %s" %(cont1,cont2,temp))
        cont2 = 0

In [374]:
col1 = df1.columns.values
col2 = df2.columns.values
col3 = df3.columns.values
col4 = df3.columns.values
col5 = df4.columns.values
col6 = df5.columns.values

In [375]:
search_diferences(col1, col2, col3, col4, col5, col6)

The diferences between List 1 and List 2 is
 ['Unnamed: 0', 'Unnamed: 1', 'EPRTRAnnexIMainActivityCode', 'EPRTRSectorCode']
The diferences between List 1 and List 3 is
 ['', 'EPRTRAnnexIMainActivityCode', 'EPRTRSectorCode']
The diferences between List 1 and List 4 is
 ['', 'EPRTRAnnexIMainActivityCode', 'EPRTRSectorCode']
The diferences between List 1 and List 5 is
 ['', 'EPRTRAnnexIMainActivityCode', 'EPRTRSectorCode']
The diferences between List 1 and List 6 is
 ['', 'EPRTRAnnexIMainActivityCode', 'EPRTRSectorCode']
The diferences between List 2 and List 1 is
 ['Unnamed: 0', 'Unnamed: 1', 'EPRTRAnnexIMainActivityCode', 'EPRTRSectorCode']
The diferences between List 2 and List 3 is
 ['Unnamed: 0', 'Unnamed: 1', '']
The diferences between List 2 and List 4 is
 ['Unnamed: 0', 'Unnamed: 1', '']
The diferences between List 2 and List 5 is
 ['Unnamed: 0', 'Unnamed: 1', '']
The diferences between List 2 and List 6 is
 ['Unnamed: 0', 'Unnamed: 1', '']
The diferences between List 3 and List 1 is
 ['', 'EPRTRAnnexIMainActivityCode', 'EPRTRSectorCode']
The diferences between List 3 and List 2 is
 ['', 'Unnamed: 0', 'Unnamed: 1']
The diferences between List 4 and List 1 is
 ['', 'EPRTRAnnexIMainActivityCode', 'EPRTRSectorCode']
The diferences between List 4 and List 2 is
 ['', 'Unnamed: 0', 'Unnamed: 1']
The diferences between List 5 and List 1 is
 ['', 'EPRTRAnnexIMainActivityCode', 'EPRTRSectorCode']
The diferences between List 5 and List 2 is
 ['', 'Unnamed: 0', 'Unnamed: 1']
The diferences between List 6 and List 1 is
 ['', 'EPRTRAnnexIMainActivityCode', 'EPRTRSectorCode']
The diferences between List 6 and List 2 is
 ['', 'Unnamed: 0', 'Unnamed: 1']

### **<span style="color:#43A047;">3.1 Deleting useless columns </span>**

We will eliminate those columns that are not in the information provided and do not make sense and do not provide useful information other than noise.

* data1_csv_df = -
* data2_csv_df = __'Unnamed: 0'__ , __'Unnamed: 1'__
* data1_js_df = __" "__
* data2_js_df = __" "__
* data3_js_df = __" "__
* data_pdf_df = -

__NOTE__: This is not (EDA) Exploratory Data Analysis, just common sense

In [376]:
df2.drop(['Unnamed: 0','Unnamed: 1'], inplace=True, axis=1)
df3.drop([''], inplace=True, axis=1)
df4.drop([''], inplace=True, axis=1)
df5.drop([''], inplace=True, axis=1)

### **<span style="color:#43A047;">3.1 Renaming Columns to Standarize the Data </span>**

In [393]:
df1=df1.rename(columns={'reportingYear': 'year', 'MONTH': 'month', 'DAY':'day', 'CONTINENT':'continent', 'countryName': 'country',\
                   'City':'city', 'CITY ID' : 'city_id', 'eprtrSectorName':'sector','EPRTRAnnexIMainActivityLabel' : 'activity',\
                   'EPRTRAnnexIMainActivityCode': 'facility_code', 'FacilityInspireID': 'facility_id', 'EPRTRSectorCode':'sector_code', 'facilityName': 'facility_name', 'targetRelease':'target_release',\
                   'DAY WITH FOGS': 'day_fogs','max_wind_speed': 'max_wind_speed', 'avg_wind_speed':'avg_wind_speed',\
                   'min_wind_speed': 'min_wind_speed', 'max_temp':'max_temp', 'avg_temp':'avg_temp', 'min_temp':'min_temp',\
                   'REPORTER NAME':'reporter_name','pollutant':'pollutant'}, inplace=False)

df2=df2.rename(columns={'reportingYear': 'year', 'MONTH': 'month', 'DAY':'day', 'CONTINENT':'continent', 'countryName': 'country',\
                   'City':'city', 'CITY ID' : 'city_id', 'eprtrSectorName':'sector','EPRTRAnnexIMainActivityLabel' : 'activity',\
                   'EPRTRAnnexIMainActivityCode': 'facility_code', 'FacilityInspireID': 'facility_id', 'EPRTRSectorCode':'sector_code', 'facilityName': 'facility_name', 'targetRelease':'target_release',\
                   'DAY WITH FOGS': 'day_fogs','max_wind_speed': 'max_wind_speed', 'avg_wind_speed':'avg_wind_speed',\
                   'min_wind_speed': 'min_wind_speed', 'max_temp':'max_temp', 'avg_temp':'avg_temp', 'min_temp':'min_temp',\
                   'REPORTER NAME':'reporter_name','pollutant':'pollutant'}, inplace=False)

df3=df3.rename(columns={'reportingYear': 'year', 'MONTH': 'month', 'DAY':'day', 'CONTINENT':'continent', 'countryName': 'country',\
                   'City':'city', 'CITY ID' : 'city_id', 'eprtrSectorName':'sector','EPRTRAnnexIMainActivityLabel' : 'activity',\
                   'EPRTRAnnexIMainActivityCode': 'facility_code', 'FacilityInspireID': 'facility_id', 'EPRTRSectorCode':'sector_code', 'facilityName': 'facility_name', 'targetRelease':'target_release',\
                   'DAY WITH FOGS': 'day_fogs','max_wind_speed': 'max_wind_speed', 'avg_wind_speed':'avg_wind_speed',\
                   'min_wind_speed': 'min_wind_speed', 'max_temp':'max_temp', 'avg_temp':'avg_temp', 'min_temp':'min_temp',\
                   'REPORTER NAME':'reporter_name','pollutant':'pollutant'}, inplace=False)

df4=df4.rename(columns={'reportingYear': 'year', 'MONTH': 'month', 'DAY':'day', 'CONTINENT':'continent', 'countryName': 'country',\
                   'City':'city', 'CITY ID' : 'city_id', 'eprtrSectorName':'sector','EPRTRAnnexIMainActivityLabel' : 'activity',\
                   'EPRTRAnnexIMainActivityCode': 'facility_code', 'FacilityInspireID': 'facility_id', 'EPRTRSectorCode':'sector_code', 'facilityName': 'facility_name', 'targetRelease':'target_release',\
                   'DAY WITH FOGS': 'day_fogs','max_wind_speed': 'max_wind_speed', 'avg_wind_speed':'avg_wind_speed',\
                   'min_wind_speed': 'min_wind_speed', 'max_temp':'max_temp', 'avg_temp':'avg_temp', 'min_temp':'min_temp',\
                   'REPORTER NAME':'reporter_name','pollutant':'pollutant'}, inplace=False)

df5=df5.rename(columns={'reportingYear': 'year', 'MONTH': 'month', 'DAY':'day', 'CONTINENT':'continent', 'countryName': 'country',\
                   'City':'city', 'CITY ID' : 'city_id', 'eprtrSectorName':'sector','EPRTRAnnexIMainActivityLabel' : 'activity',\
                   'EPRTRAnnexIMainActivityCode': 'facility_code', 'FacilityInspireID': 'facility_id', 'EPRTRSectorCode':'sector_code', 'facilityName': 'facility_name', 'targetRelease':'target_release',\
                   'DAY WITH FOGS': 'day_fogs','max_wind_speed': 'max_wind_speed', 'avg_wind_speed':'avg_wind_speed',\
                   'min_wind_speed': 'min_wind_speed', 'max_temp':'max_temp', 'avg_temp':'avg_temp', 'min_temp':'min_temp',\
                   'REPORTER NAME':'reporter_name','pollutant':'pollutant'}, inplace=False)

df6=df6.rename(columns={'YEAR': 'year', 'MONTH': 'month', 'DAY':'day', 'CONTINENT':'continent', 'COUNTRY': 'country',\
                   'CITY':'city', 'CITY_ID' : 'city_id', 'eprtrSectorName':'sector','EPRTRAnnexIMainActivityLabel' : 'activity',\
                   'EPRTRAnnexIMainActivityCode': 'facility_code', 'FacilityInspireID': 'facility_id', 'EPRTRSectorCode':'sector_code', 'FACILITY NAME': 'facility_name', 'targetRelease':'target_release',\
                   'DAYS FOG': 'day_fogs','max_wind_speed': 'max_wind_speed', 'avg_wind_speed ': 'avg_wind_speed',\
                   'min_wind_speed': 'min_wind_speed', 'max_temp':'max_temp', 'avg_temp':'avg_temp', 'min_temp':'min_temp',\
                   'REPORTER NAME':'reporter_name','pollutant':'pollutant'}, inplace=False)

### **<span style="color:#43A047;">3.1 Reordering the columns </span>**
First we select the dataset that contains the most **features**. If these columns do not exist in certain data sets they will be created, then we will evaluate the importance of such data and whether they will be eliminated or filled with information. At the end we reorder the columns to give a more logical sense to the datasets. We will place the __target__ variable at the end.

In [378]:
ordened_features = ['year','month','day', 'continent', 'country',\
                   'city','city_id', 'sector', 'activity',\
                    'facility_code', 'facility_id', 'sector_code','facility_name','target_release',\
                   'day_fogs','max_wind_speed','avg_wind_speed',\
                   'min_wind_speed', 'max_temp', 'avg_temp', 'min_temp',\
                   'reporter_name', 'pollutant']

#### **<span style="color:#43A047;">3.1.1 First data frame </span>**

In [400]:
temp = [x for x in ordened_features if x not in list(df1.columns.values)]

In [401]:
temp

[]

In [381]:
df1[temp] = "" #Adding empty columns

#### **<span style="color:#43A047;">3.1.2 Second data frame </span>**

In [382]:
temp = [x for x in ordened_features if x not in list(df2.columns.values)]

In [383]:
temp

[]

#### **<span style="color:#43A047;">3.1.3 Third data frame </span>**

In [384]:
temp = [x for x in ordened_features if x not in list(df3.columns.values)]

In [385]:
temp

[]

#### **<span style="color:#43A047;">3.1.4 Fourth data frame </span>**

In [386]:
temp = [x for x in ordened_features if x not in list(df4.columns.values)]

In [387]:
temp

[]

#### **<span style="color:#43A047;">3.1.5 Fifth data frame </span>**

In [388]:
temp = [x for x in ordened_features if x not in list(df5.columns.values)]

In [389]:
temp

[]

#### **<span style="color:#43A047;">3.1.6 Sixth data frame </span>**

In [403]:
temp = [x for x in ordened_features if x not in list(df6.columns.values)]

In [404]:
temp

['activity', 'facility_code', 'target_release', 'reporter_name']

In [405]:
df6[temp] = "" #Adding empty columns

#### **<span style="color:#43A047;">3.1.7 Sorting columns </span>**

In [406]:
df1 = df1[ordened_features]
df2 = df2[ordened_features]
df3 = df3[ordened_features]
df4 = df4[ordened_features]
df5 = df5[ordened_features]
df6 = df6[ordened_features]

#### **<span style="color:#43A047;">3.1.8 Final check </span>**

In [407]:
col1 = df1.columns.values
col2 = df2.columns.values
col3 = df3.columns.values
col4 = df3.columns.values
col5 = df4.columns.values
col6 = df5.columns.values

In [408]:
search_diferences(col1, col2, col3, col4, col5, col6)

In [409]:
df1

,year,month,day,continent,country,city,city_id,sector,activity,facility_code,...,target_release,day_fogs,max_wind_speed,avg_wind_speed,min_wind_speed,max_temp,avg_temp,min_temp,reporter_name,pollutant
0,2015,10,20,EUROPE,Germany,Sehnde,7cdb5e74adcb2ffaa21c1b61395a984f,Mineral industry,Installations for the production of cement cli...,,...,AIR,2,15.118767,14.312541,21.419106,2.864895,4.924169,9.688206,Mr. Jacob Ortega,Carbon dioxide (CO2)
1,2018,9,21,EUROPE,Italy,TAVERNOLA BERGAMASCA,cd1dbabbdba230b828c657a9b19a8963,Mineral industry,Installations for the production of cement cli...,,...,AIR,1,19.661550,19.368166,21.756389,5.462839,7.864403,12.023521,Ashlee Serrano,Nitrogen oxides (NOX)
2,2019,2,4,EUROPE,Spain,PUERTO DEL ROSARIO,5011e3fa1436d15b34f1287f312fbada,Waste and wastewater management,Landfills (excluding landfills of inert waste ...,,...,AIR,2,12.729453,14.701985,17.103930,1.511201,4.233438,8.632193,Vincent Kemp,Methane (CH4)
3,2012,8,6,EUROPE,Czechia,Kada≈à,37a6d7a71c4f7c2469e4f01b70dd90c2,Energy sector,Thermal power stations and other combustion in...,,...,AIR,0,11.856417,16.122584,17.537184,10.970301,10.298348,15.179215,Carol Gray,Nitrogen oxides (NOX)
4,2018,12,22,EUROPE,Finland,Tampere,471fe554e1c62d1b01cc8e4e5076c61a,Waste and wastewater management,Urban waste-water treatment plants,,...,AIR,2,17.111930,20.201604,21.536012,11.772039,11.344078,16.039004,Blake Ford,Methane (CH4)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18558,2017,12,3,EUROPE,Finland,Kajaani,daf6f012401242ec2edbb6664665aec1,Energy sector,Thermal power stations and other combustion in...,,...,AIR,1,17.173104,18.165618,19.206412,12.180394,11.345370,13.765315,Cheryl Walker,Nitrogen oxides (NOX)
18559,2014,2,6,EUROPE,Spain,SANGUESA,32a88ade353bf6ab80d92adcdc9fc597,Paper and wood production and processing,Industrial plants for the production of paper ...,,...,AIR,0,17.311122,19.381145,23.264591,5.390422,5.023346,7.512245,Dr. Kelly Stevens,Nitrogen oxides (NOX)
18560,2007,12,27,EUROPE,Sweden,√Ñngelholm,48b66e1acf3029708edc2d68314d1cd2,Energy sector,Thermal power stations and other combustion in...,,...,AIR,0,20.809501,19.884620,23.599190,5.441425,7.972029,10.933081,Susan Webster,Carbon dioxide (CO2)
18561,2012,6,25,EUROPE,United Kingdom,Middlesbrough,b4cb58c3a936665786359c2c634d6ff4,Energy sector,Thermal power stations and other combustion in...,,...,AIR,5,11.186522,15.233248,21.058308,16.023482,16.286381,17.303344,Cole Greene,Carbon dioxide (CO2)
18562,2016,9,7,EUROPE,Germany,Peine,e2776f7ce327199fa26ba8c0cd261521,Production and processing of metals,Installations for the production of pig iron o...,,...,AIR,1,11.344700,16.839903,23.241338,11.973041,14.066248,15.091521,Justin Gonzales,Nitrogen oxides (NOX)

In [410]:
df6

,year,month,day,continent,country,city,city_id,sector,activity,facility_code,...,target_release,day_fogs,max_wind_speed,avg_wind_speed,min_wind_speed,max_temp,avg_temp,min_temp,reporter_name,pollutant
1,2019,6,12,EUROPE,United Kingdom,"Millerhill, Dalkeith",c662b4b4d859a9c224b5ac0acf221748,Waste and wastewater management,,,...,,10,"1,79E+15","2,04E+15","2,2E+16","1,51E+16","1,71E+16","1,82E+15",,Nitrogen oxides (NOX)
2,2019,4,12,EUROPE,United Kingdom,Cowdenbeath,3c563ab0d76fc84128574b5da82f769a,Energy sector,,,...,,19,"1,52E+16","1,46E+16","2,06E+15","9,61E+15","8,69E+15","1,33E+16",,Carbon dioxide (CO2)
3,2019,4,12,EUROPE,United Kingdom,Cowdenbeath,3c563ab0d76fc84128574b5da82f769a,Energy sector,,,...,,19,"1,52E+16","1,46E+16","2,06E+15","9,61E+15","8,69E+15","1,33E+16",,Carbon dioxide (CO2)
4,2019,1,3,EUROPE,United Kingdom,Cowdenbeath,3c563ab0d76fc84128574b5da82f769a,Energy sector,,,...,,10,"1,16E+16","1,65E+16","2,18E+16","8,03E+15","8,94E+15","1,04E+16",,Nitrogen oxides (NOX)
5,2019,11,9,EUROPE,United Kingdom,Alloa,2cc8f54182c37b8907f534011ea01e6f,Mineral industry,,,...,,4,"1,11E+16","1,6E+16","2,03E+16","-1,9E+16","1,33E+15","4,07E+16",,Carbon dioxide (CO2)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,2019,10,11,EUROPE,United Kingdom,"East Barns, Dunbar, East Lothian",6935acf68ac33c9c85ff634275880d97,Waste and wastewater management,,,...,,1,"1,93E+16","1,87E+16","2,67E+15","6,82E+15","8,77E+15","1,37E+16",,Nitrogen oxides (NOX)
79,2019,5,19,EUROPE,United Kingdom,Shetland,223137a83f11fbc93f2af549579ee6ac,Energy sector,,,...,,18,"1,59E+16","2,11E+15","2,32E+16","1,18E+16","1,45E+16","1,92E+16",,Carbon dioxide (CO2)
80,2019,4,16,EUROPE,United Kingdom,Shetland,223137a83f11fbc93f2af549579ee6ac,Energy sector,,,...,,6,"1,28E+16","1,4E+16","1,8E+16","1,56E+16","1,81E+15","2,12E+15",,Methane (CH4)
81,2019,2,3,EUROPE,United Kingdom,Shetland,223137a83f11fbc93f2af549579ee6ac,Energy sector,,,...,,19,"1,35E+16","1,46E+15","1,78E+16","9,66E+15","1,1E+16","1,26E+16",,Nitrogen oxides (NOX)
82,2019,12,4,EUROPE,United Kingdom,"Millerhill, Dalkeith",c662b4b4d859a9c224b5ac0acf221748,Waste and wastewater management,,,...,,6,"2,09E+15","2,07E+15","2,46E+16","5,74E+15","7,31E+15","9,42E+15",,Carbon dioxide (CO2)

### **<span style="color:#43A047;">3.2 Merging all the information in a single data set.  </span>**

#### **<span style="color:#4CAF50;">3.2.1 Vertically merging </span>**

In [ ]:
data = pd.concat([data1_csv_df, data1_json_df,data1_pdf_df,data1_twt_df], ignore_index=True)

In [ ]:
print('The shape of our features is:', data.shape)

In [ ]:
df.describe()

#### **<span style="color:#4CAF50;">3.2.2 Horizontal merging </span>**

In [ ]:
df2 = df2.reset_index(drop=True) #To reset the index
data = pd.concat([df1,df2], axis=1) #Horizontally concateneting with the same index

In [ ]:
print('The shape of our features is:', data.shape)

### **<span style="color:#43A047;">3.3 Checking anomalies or outliers in the entire dataset.  </span>**

#### **<span style="color:#4CAF50;">3.3.1 Detecting Columns with problems </span>**

In [ ]:
def data_checking (df, sd=2):
    "Autocheking for any Anomalies or Outliers"
    rows_problems = []
    max_problems = []
    min_problems = []
    null_data = []
    for i in range(0,len(data.describe().columns)): #This will check in numeric's columns
        
        if data.describe().iloc[0,i:i+1][0] != data.shape[0]: #Checking rows discordance 
            rows_problems.append(df.describe().columns[i])
       
        #Checking minimum data range
        if int(df.describe().iloc[3,i:i+1][0]) < (int(df.describe().iloc[4,i:i+1][0]) - sd*(int(df.describe().iloc[2,i:i+1][0]))):  
            min_problems.append(df.describe().columns[i])
        
        #Checking maximum data range
        if int(data.describe().iloc[7,i:i+1]) > (int(data.describe().iloc[6,i:i+1]) + sd*int(df.describe().iloc[2,i:i+1][0])): 
            max_problems.append(df.describe().columns[i])
    
    for i in range (0, data.shape[1]): # This will check in the entire DataFrame   
        
        if (df.isnull().sum()[i] != 0) or (df.isna().sum()[i] != 0): #Checking null or nan datas
            null_data.append(df.columns[i])        
    print("Columns with rows discordance: %s" %rows_problems)
    print("Columns with Min. values problems: %s" %min_problems)
    print("Columns with Max. values problems: %s" %max_problems)
    print("Columns with NaN or Nulls: %s" %null_data)
    return rows_problems, min_problems, max_problems, null_data

In [ ]:
sd_multiplier = 2 #Standar Deviation Multiplier to chek how far away the 25% and 75% outliers should be.
row_prblm, min_col, max_col, null_col = data_checking (data, sd_multiplier)

#### **<span style="color:#4CAF50;">3.3.2 Maximum and Minimum representation for a Data Set </span>**

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline 

plt.plot(X_train.min(axis=0), 'o', label='Min')
plt.plot(X_train.max(axis=0), 'v', label='Max')
plt.xlabel('Feature Index')
plt.ylabel('Feature Magnitude in Log Scale')
plt.yscale('log') #Logarithmic scale to fit all the values.
plt.legend(loc='upper right')

### **<span style="color:#43A047;">3.4 Capping and Flooring (Outliers Treatment)  </span>**

In [ ]:
data1 = data.copy() #Making a chekpoint.

In [ ]:
#Otiliers capping according to percentile for each column
percentile = 2
for i in max_col:
    data1[i][(data1[i]>(np.percentile(data1.loc[:,i],[100-percentile])[0]))]= (np.percentile(data1.loc[:,i],[100-percentile])[0])
for i in min_col:
    data1[i][(data1[i]<(np.percentile(data1.loc[:,i],[percentile])[0]))]= (np.percentile(data1.loc[:,i],[percentile])[0])

In [ ]:
data1.describe() #Cheking results

### **<span style="color:#43A047;">3.5 Features visualization and comparation </span>**

#### **<span style="color:#4CAF50;">3.5.1 Unvariate Analysis (EDA: Exploratory Data Analysis) </span>**

In [ ]:
cat_cols = data1.select_dtypes(include=['category','object', 'bool_'])
num_cols = data1.select_dtypes(include=['number','int','float'])

In [ ]:
def pie_count_chart (x, data, qty=10):
    """Creates a pie chart of the specific categorical feature chosen."""
    import plotly.subplots as sp
    import plotly.express as px
    df1 = pd.DataFrame()
    df1 = data[[x]].groupby([x])[x] \
                         .count() \
                         .reset_index(name='count') \
                         .sort_values(['count'], ascending=False) \
                         .iloc[:qty]
    
    figure1 = px.pie(df1, values = "count", color_discrete_sequence=px.colors.sequential.RdBu,
                 names = "count", width = 400, height = 400, hover_data=[x], 
                  labels={x:'Date'}, title='Pie Chart of the highest %d (%s)' %(qty, x))
    figure1.show()

In [ ]:
interact(pie_count_chart,
         x = cat_cols.columns,
         data = fixed(cat_cols),
         qty= IntSlider(min=0, max=100, step=1))

#### **<span style="color:#4CAF50;">3.5.2 Bivariate Analysis (EDA: Exploratory Data Analysis) </span>**

In [ ]:
def plotting_bar (x,y,bar,data,qty):
    import plotly.subplots as sp
    import plotly.express as px
    if x != y:
        df1 = data[[x, y, bar]].groupby([x, bar])[y] \
                                 .count() \
                                 .reset_index(name=y) \
                                 .sort_values([y], ascending=False) \
                                 .head(qty)
        figure1  = px.bar(df1, x=x, y=y, color=str(bar), barmode='group', height=400, width=700 ,
                          title='Bar graph (%s) vs (%s) of the greaters %d ' %(x, y, qty))
        figure1.show()
    else:
        print("Feature selection problem.")

In [ ]:
interact(plotting_bar,
         x= list(data1.columns[:-1]), #Eje x a contrastar
         y= list(data1.columns[:-1]), #Eje y a contrastar (cuantificar)
         bar = fixed(data1.columns[-1]), #Barras a graficar
         data = fixed(data1),
         qty= IntSlider(min=0, max=100, step=1))

### **<span style="color:#43A047;">3.6 Creating dummy if necesary</span>** 
(WIP-----------------SEE IF THIS SECTION SHOULD BE BEFORE OR AFTER EDA)

In [ ]:
categories = ["xxx1", "xxx2", "xxx3", "xxx4", "xxx5", "xxx5", "xxx6"]
for category in categories:
    cat_list = "cat" + "_" + category
    cat_dummies = pd.get_dummies(data[category], prefix=cat_list)
    data1 = data1.join(cat_dummies[:-1]) ## WIP THERE IS NOT NECESARY TO ADD ALL THE DUMMY, CAUSE COULD IT BE REDUNDANT
    del data1[category] #Deleting original dummie variable

In [ ]:
data1.head()#quick review if all goes well

---------------------------------------------------------------------

### ‚úÖ  4) Preparing data for training and testing üèÉ

### **<span style="color:#43A047;">4.1 Variables Stadnarization  </span>**

In [ ]:
X = data1.loc[:, data1.columns != 'TARGET'] # Assing X (feature columns)
y = data1['TARGET']# Assing y (target column)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### **<span style="color:#43A047;">4.1 Variables Stadnarization  </span>**

In [ ]:
scaler = preprocessing.StandardScaler().fit(X_train) #Variables standarization
X_train_s = scaler.transform(X_train) #Variables transform

In [ ]:
train, test = train_test_split(df, test_size = 0.2)
print("Longitud de datos de entrenamiento: %f" %(len(train)), "datos de testing: %f" %(len(test)))

In [ ]:
#Asignaci√≥n de variables predictoras y target
colnames = df.columns.values.tolist()
predictors=colnames[1:xx]
target=colnames[xx]

---------------------------------------------------------------------

### ‚úÖ 5) Training the model with training dataüèãÔ∏è

In [ ]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

In [ ]:
%%time
def find_best_model_using_gridsearchcv(X,y):
    """Function with three models for classification"""
    
    algos = {
        'Logistic_Regression' : {
        'model': LogisticRegression(),
        'params': {
            'max_iter':[1000, 2000, 5000],
            #'C':[,10,100,1000],
            'solver':['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']  
            }
        },
        'Linear_Discriminant_Analysis': {
        'model': LinearDiscriminantAnalysis(),
        'params': {
            'solver':['svd', 'lsqr', 'eigen']  
            }
        },      
        'K_Nearest_Neighbors':{
            'model' : KNeighborsClassifier(),
            'params':{
            'n_neighbors': [5,10],
            'metric': ["minkowski", 'euclidean', 'manhattan', 'chebyshev', 'wminkowski', 'seuclidean', 'mahalanobis'],
            'p': [2],
            'n_neighbors': range(100)
            }                                                        
        },
        'Decision_Tree_Classifier': {
        'model': DecisionTreeClassifier(),
        'params': {
            'criterion': ['gini','entropy', 'log_loss'],
            'min_samples_split': [10,100,1000],
            'max_depth' :[3,5,10,20],
            'splitter': ['best','random']
            }
        },
        'Random_Forest_Classifier': {
        'model': RandomForestClassifier(),
        'params': {
            'n_jobs' : [multiprocessing.cpu_count() - 1],            
            'n_estimators': [10,100,200,500],
            'max_depth'   : [None, 3, 10, 20],
            'criterion'   : ['gini', 'entropy']
            }
        },      
        'MLP_Classifier': {
        'model': MLPClassifier(),
        'params': {            
            'max_iter':[1000],
            'alpha':[0.001,0.01,0.1,1],
            }
        },      
        'Support_Vector_Classifier': {
        'model': SVC(),
        'params': {
            'kernel':['linear', 'poly', 'rbf', 'sigmoid'],
            'C':[1,100,1000,10000],
            'gamma':[0.0001,0.001,0.01,0.1]
            }
         },       
        #'Gradien_Boosting_Classifier': {
        #'model': GradientBoostingClassifier(),
        #'params':  {
        #    'n_estimators'  : [50, 100, 500, 1000],
        #    'max_features'  : ['auto', 'sqrt', 'log2'],
        #    'max_depth'     : [None, 1, 3, 5, 10, 20],
        #    'subsample'     : [0.5, 1],
        #    'learning_rate' : [0.001, 0.01, 0.1]
        #    }
        #}         
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score = True)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        }) 
    return pd.DataFrame(scores,columns=['model','best_score','best_params'])
best = find_best_model_using_gridsearchcv(X_train_s,y_train)

---------------------------------------------------------------------

### ‚úÖ 6) Making predictions with test data ü§î¬∂

In [ ]:
def price_predict(location,sqft,bath,BHK):
    loc_index=np.where(X.columns==location)[0][0]
    x=np.zeros(len(X.columns))
    x[0]=sqft
    x[1]=bath
    x[2]=BHK
    if loc_index >=0:
    x[loc_index]=1
    return model.predict([x])[0]

---------------------------------------------------------------------

### ‚úÖ 7) Comparing predictions with test dataüìù

In [ ]:
from sklearn.metrics import classification_report
from sklearn import metrics

In [ ]:
#print(classification_report(Y_test, y_pred, target_names=["xxxxx", "xxxxx", "xxxxx"]))

In [ ]:
#print("Homogeneidad: %0.3f" %metrics.homogeneity_score(labels, clust_labels))
#print("Completitud: %0.3f" %metrics.completeness_score(labels, clust_labels))
#print("V-measure: %0.3f" %metrics.v_measure_score(labels, clust_labels))
#print("R2 ajustado: %0.3f" %metrics.adjusted_rand_score(labels, clust_labels))
#print("Informaci√≥n m√∫tua ajustada: %0.3f" %metrics.adjusted_mutual_info_score(labels,clust_labels))

---------------------------------------------------------------------

### ‚úÖ 8) Adjusting the modelüî®

---------------------------------------------------------------------

### ‚úÖ 9) Results presentation. üåü

### **<span style="color:#43A047;">9.1 Graphical representation of results  </span>**

### **<span style="color:#43A047;">9.2 Conclusion  </span>**

### **<span style="color:#43A047;">9.3 Making & saving predictions </span>**

In [ ]:
results = pd.DataFrame(pred, columns=['Results'])

In [ ]:
results.to_csv("../../Practice/1-Random Forest/results.csv", index=False)

In [ ]:
results